program7.xsd

<?xml version="1.0" encoding="UTF-8"?>


<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="student">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="sid" type="xs:int"/>
				<xs:element name="sname" type="xs:string"/>
				<xs:element name="sdept" type="xs:string" fixed="CSE"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>